/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap"; 


.wrapper-text{
    width: 100%;
    background-color: #808080;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.body-rejend{
	/*background-color: #000000;*/
	background: #456;
}
.body-sign{
	/*background-color: #000000;*/
	background: #456;
}
.stage{
	/*background-color: #000000;*/
	background: #456;
}
/* すべての画面サイズで適用される設定 */
.social i {   
  color:black;
}
 
/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {  
  .social i {    
    color: green;  
    }
}
 
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {  
  .social i {    
    color: red;  
    }
}
 
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {  
.social i {
    color: blue;
    }
}